<div class="c-social container work__container">
  <h3 class="c-social__title">
    <div class="c-social__primary">
      你发现了类似应用未收录?
    </div>
    <div class="c-social__secondary">
      点击这里
      <a href="https://github.com/weekend-project-space/aihub/pulls">提交</a>
    </div>
  </h3>
  <!-- <ul class="c-social-links">
    <li class="c-social-links__item">
      <a href="{{ .Site.Params.website }}" target="_blank" rel="noopener">
        <i class="fab fa-chrome c-social-links__icon"></i>
        <span class="c-social-links__label">website</span>
      </a>
    </li>
    <li class="c-social-links__item">
      <a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
        <i class="fab fa-twitter c-social-links__icon"></i>
        <span class="c-social-links__label">Twitter</span>
      </a>
    </li>
    <li class="c-social-links__item">
      <a href="{{ .Site.Params.github }}" target="_blank" rel="noopener">
        <i class="fab fa-github c-social-links__icon"></i>
        <span class="c-social-links__label">Github</span>
      </a>
    </li>
  </ul> -->
</div>