<script>
    if (!window.location.hostname.includes('localhost')) {
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?69748c135beab0a8530e9c8397f68d24";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        (function () {
            var el = document.createElement("script");
            el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?07e9396e387d23227de00b286649065920f134572179573f70424ec3ce48dcb945f9b46c8c41e6235de98982cdddb9785e566c8c06b0b36aec55fccc04fff972a6c09517809143b97aad1198018b8352";
            el.id = "ttzz";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(el, s);
        })(window)
    }
</script>